nav{
    height: 400px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
    margin-left: 550px;
    position: center;
}

a{
    color:red
}

body{background-color: #2f333d 
}

h2{ 
    color:red
}

h3{
    color:#c4c7cf
}

p{
    color: #c4c7cf;
    position: center;
    margin-left: 150px;
}

footer{
    text-align: center;
    margin-top: 500px;
    color: white;
}

